<div class="container-fluid pb-5">
    <p class="text-info mx-2 text-center fs-3">HORAIRES DE PRIÈRES </p>

    @if (prayerTimes){
    <div class="text-center text-white"> {{prayerTimes.dateGregorienne}} </div>
    <div class="text-center text-white">({{prayerTimes.dateHijri}}) </div>
    <div class="text-center text-white fs-4"> {{prayerTimes.moisHijri}} </div>
    }




    <div class="container  d-flex align-items-center justify-content-center">
        <div>
            @if (prayersData){
            <div class="card my-2  d-flex align-items-center justify-content-center"> Fajr : {{prayersData.fajr}}
            </div>
            <div class="card d-flex align-items-center justify-content-center my-2"> Chourouk :
                {{prayersData.sunrise}}
            </div>
            <div class="card d-flex align-items-center justify-content-center my-2"> Dhuhr : {{prayersData.dhuhr}}
            </div>
            <div class="card d-flex align-items-center justify-content-center my-2"> Asr : {{prayersData.asr}} </div>
            <div class="card d-flex align-items-center justify-content-center my-2"> Maghrib :
                {{prayersData.maghrib}}
            </div>
            <div class="card d-flex align-items-center justify-content-center my-2"> Isha : {{prayersData.isha}}
            </div>
            }


        </div>


    </div>
</div>