
.container-fluid{
    background-image: url("/assets/abu-dhabi-mosque.jpeg");
    background-size: cover;
    height: 100%;
    padding-top: 150px;
}

.card{
    width: 200px;
    height: 45px;
    color: rgb(255, 255, 255);
    background-color: rgba(181, 185, 185, 0.811);
    opacity: 0.95;
  
   
}

.next{
    backdrop-filter: blur(25px);
  color: rgb(249, 245, 250);
  border-radius: 8px;
}

.slogan{

font-family: "Noto Nastaliq Urdu", serif;
  font-optical-sizing: auto;
  font-weight: 473;
  font-style: normal;
  color: rgb(228, 151, 240);


}