<router-outlet></router-outlet>
<app-salat-prayer-times></app-salat-prayer-times>

<!-- <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="">Username</label>
        <input type="text" formControlName="username">
    </div>
    <div>
        <label>email</label>
        <input type="text" formControlName="email">
    </div>
    <div>
        <label for="">password</label>
        <input type="text" formControlName="password">
    </div>

    <button class="btn btn-info" type="submit">submit</button>


 <app-tester-les-directives></app-tester-les-directives>
</form>-->